services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.local
    image: spendwise-backend:local
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env.local
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:18.1
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"

  redis:
    image: redis:7.4.2
    ports:
      - "6379:6379"
